{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}Shar House 55{% endblock %}

{% block content %}
    <section class="d-flex justify-content-center align-items-center p-3" style="height: 100%">
        <div style="margin-top: 18vh">
            <h1 class="mb-5" style="font-size: calc(4rem + 1vw)">Ошибка 404</h1>
            <h2 class="mb-3" style="font-size: calc(2rem + .25vw)">Данной страницы не существует</h2>
            <a class="text-decoration-underline text-black"
               style="font-size: calc(1rem + .25vw)" href="{% url 'index' %}">Вернуться на главную</a>
        </div>
    </section>
{% endblock %}