@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'),
         url('../fonts/Helvetica-Thin.ttf') format('truetype'),
         url('../fonts/Helvetica-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Helvetica", sans-serif;
    letter-spacing: 2px;
    margin-top: 5rem;
    margin-bottom: 4rem;
}

.fixed-button-call{
    z-index: 999;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
}

/* First section */

.section-main{
    position: relative;
    height: 35rem;
    background-color: #f0e0ea;
    background-image: url("../mainapp/images/main-image.jpg");
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.section-main .text-label-lg, .text-label-sm{
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.section-main .text-label-lg{
    margin-right: 10%;
    margin-top: 10%;
}

.section-main .text-label-sm{
    background: rgb(255, 255, 255, 70%);
    padding: 1.5rem;
    border-radius: .5rem;
    position: absolute;
    bottom: 3rem;
    max-width: 90%;
}

.section-main .text-label-sm .display-5{
    font-size: 3rem;
}

.section-main .text-label-sm .display-6{
    font-size: 2rem;
}

/* Edge */

.edge{
    position: relative;
    background-color: #e4d4e7;
    background-image: url("../mainapp/images/logo-image.png");
    background-size: auto 90%;
    background-position: 10%;
    background-repeat: no-repeat;
}

.edge .block{
    width: 100%;
    max-width: 60rem;
    background: #c3d0ff;
}

.edge .icon-image{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

/* Section with products */

.products{
    padding: 3rem 0;
    background: #cdd6ff;
}

.products .card{
    background: #c3d0ff;
    text-align: center;
}

.products .prod{
    height: 8rem;
}

.products .btn{
    width: 100%;
    line-height: 3rem;
}

/* Contacts section */

.contacts{
    background: #b4d7e5;
    padding: 3rem 0;
}

.contacts .row>*{
    padding: 0;
}

.contacts .block{
    position: relative;
    width: 100%;
    text-decoration: none;
    padding: 1rem;
    margin: .25rem;
    font-weight: 300;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: .5rem;
}

.contacts .block:hover{
    background: #0d6efd;
    color: white;
    transition: 250ms;
}

.contacts .icon-image{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

/* Care */

.care{
    padding: 4rem 0;
    background: #f1e6ed;
}

.care h1{
    font-size: 48px;
    font-weight: 300;
    text-indent: 3rem;
}

.care h2{
    padding: .5rem 0 .5rem 0;
    font-size: 36px;
    font-weight: 360;
    text-indent: 3rem;
}

.care p{
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
    text-indent: 3rem;
}

/* Pagination */

.page-link{
    font-size: 24px;
    padding: .5rem 1rem;
}