@font-face {
    font-family: 'Helvetica';
    src: local('Helvetica'),
         url('../fonts/Helvetica-Thin.ttf') format('truetype'),
         url('../fonts/Helvetica-Thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Helvetica-Thin.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Helvetica", sans-serif;
    letter-spacing: 2px;
    margin-top: 5rem;
    margin-bottom: 4rem;
    width: 100%;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
}

button {
    background: none;
    border: none;
}

.notify-start {
    z-index: 999;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 1rem 1rem .8rem 1rem;
    background: #f3d0ef;
    border: 1px solid #dc65cf;
    border-radius: 1rem;
    font-size: 18px;
}

/* Header */

.navbar-contacts a{
    transform: translate3d(0, 0, 0) !important;
    transition: all .1s ease-in-out;
}

.navbar-contacts a:hover{
    transform: translate3d(0, -5px, 0) !important;
    transition: all .1s ease-in-out;
}

.navbar-contacts .icon-image{
    width: 1.9rem;
    height: 1.9rem;
    margin-right: .8rem;
}

/* First section */

.section-main{
    position: relative;
    height: 35rem;
    background-color: #f0e0ea;
    background-image: url("../mainapp/images/main-image.jpg");
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.section-main .text-label-lg, .text-label-sm{
    text-align: center;
    font-family: "Helvetica", sans-serif;
}

.section-main .text-label-lg{
    margin-right: 10%;
    margin-top: 10%;
}

.section-main .text-label-sm{
    background: rgb(255, 255, 255, 70%);
    padding: 1.5rem;
    border-radius: .5rem;
    position: absolute;
    bottom: 3rem;
    max-width: 90%;
}

.section-main .text-label-sm .display-5{
    font-size: 2rem;
}

.section-main .text-label-sm .display-6{
    font-size: 1.5rem;
}

/* Edge */

.edge{
    position: relative;
    background-color: #e4d4e7;
    background-image: url("../mainapp/images/edge-image.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
}

.edge .block{
    width: 100%;
    max-width: 60rem;
    background: #c3d0ff;
}

.edge .icon-image{
    width: 2rem;
    height: 2rem;
    margin-right: 1rem;
}

.edges{
    transition: all .4s ease-in-out;
    transform: translate3d(30px, 0px, 0);
    opacity: 0;
    font-size: 2rem;
}

@media (max-width: 680px) {
    .edges{
        font-size: 4vw;
    }
}

.edges-animation{
    transform: translate3d(0px, 0px, 0);
    opacity: 1;
}

/* Section with products */

.products{
    padding: 3rem 0;
    background: #cdd6ff;
}

.products .card{
    background: #c3d0ff;
    text-align: center;
    transition: all .4s ease-in-out;
    transform: translate3d(20px, 50px, 0);
    opacity: 0;
}

.card-animation{
    transform: translate3d(0px, 0, 0) !important;
    opacity: 1 !important;
}

.products .prod{
    height: 8rem;
}

.products .btn{
    width: 100%;
    line-height: 3rem;
}

/* Contacts section */

.contacts-window{
    z-index: 99999;
    position: fixed;
    max-width: 50rem;
    width: 80%;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.contacts-window .contacts{
    border-radius: 1rem;
}

.close-window{
    position: absolute;
    top: 20px;
    right: 20px;
}

.dark-background{
    z-index: 9999;
    position: absolute;
    background: rgb(0, 0, 0, 70%);
    transform: translate3d(0px, -5rem, 0) !important;
    height: 100%;
    width: 100%;
}

.testtest{
    display: none;
}

.contacts{
    background: #b4d7e5;
    padding: 3rem 0;
}

.contacts .row>*{
    padding: 0;
}

.contacts .block{
    position: relative;
    width: 100%;
    text-decoration: none;
    padding: 1rem;
    margin: .25rem;
    font-weight: 300;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: .5rem;
}

.contacts .block:hover{
    background: #0d6efd;
    color: white;
    transition: 250ms;
}

.contacts .icon-image{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

/* Care */

.care{
    padding: 4rem 0;
    background: #cdd6ff;
}

.care h1{
    font-size: 48px;
    font-weight: 300;
    text-indent: 3rem;
}

.care h2{
    padding: .5rem 0 .5rem 0;
    font-size: 26px;
    font-weight: 360;
    text-indent: 3rem;
}

.care p{
    font-size: 22px;
    font-weight: 300;
    text-align: justify;
    text-indent: 3rem;
}

/* Pagination */

.page-link{
    font-size: 24px;
    padding: .5rem 1rem;
}