html {
    position: relative;
    min-height: 100%;
}

body {
    margin-top: 5rem;
    margin-bottom: 4rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
}

/* First section */

.section-main{
    position: relative;
    height: 35rem;
    background-color: #f0e0ea;
    background-image: url("../mainapp/images/main-image.jpg");
    background-size: auto 100%;
    background-position: right;
    background-repeat: no-repeat;
}

.section-main .text-label-lg, .text-label-sm, .text-label{
    background: rgba(255, 255, 255, 0.5);
    color: #80317a;
    padding: 1.5rem;
    border-radius: .5rem;
    text-align: center;
}

.section-main .text-label-lg{
    margin-right: 20%;
    margin-top: 10%;
}

.section-main .text-label-sm{
    margin-top: 20%;
}

.section-main .text-label-sm .display-6{
    font-size: 1.5rem;
}

.section-main .text-label{
    margin-top: 50%;
    padding: 1rem;
}

.section-main .text-label .display-5{
    font-size: 1.5rem;
}

.section-main .text-label .display-6{
    font-size: 1rem;
}

/* Edge */

.edge{
    position: relative;
    background-color: #d3d5ea;
    background-image: url("../mainapp/images/logo-image.png");
    background-size: auto 90%;
    background-position: 10%;
    background-repeat: no-repeat;
}

.edge .block{
    width: 100%;
    max-width: 60rem;
    background-color: #aab9d0;
}

.edge .icon-image{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

/* Section with products */

.products{
    padding: 4rem 0;
    background: #e1c6db;
}

.products .card{
    background: #d2b2ce;
    text-align: center;
}

.products .prod{
    height: 8rem;
}

.products .btn{
    width: 100%;
    line-height: 3rem;
}

/* Contacts section */

.contacts{
    background: #b4d7e5;
    padding: 4rem 0;
}

.contacts .row>*{
    padding: 0;
}

.contacts .block{
    position: relative;
    width: 100%;
    text-decoration: none;
    padding: 1rem;
    margin: .25rem;
    font-weight: 300;
    color: #0d6efd;
    border: 1px solid #0d6efd;
    border-radius: .5rem;
}

.contacts .block:hover{
    background: #0d6efd;
    color: white;
    transition: 250ms;
}

.contacts .icon-image{
    width: 2rem;
    height: 2rem;
    margin-right: .5rem;
}

/* Care */

.care{
    padding: 4rem 0;
    background: #f1e6ed;
}

.care h1{
    font-size: 48px;
    font-weight: 300;
    text-indent: 3rem;
}

.care h2{
    padding: .5rem 0 .5rem 0;
    font-size: 36px;
    font-weight: 360;
    text-indent: 3rem;
}

.care p{
    font-size: 24px;
    font-weight: 300;
    text-align: justify;
    text-indent: 3rem;
}

/* Pagination */

.page-link{
    font-size: 24px;
    padding: .5rem 1rem;
}