{% load static %}

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top fs-5" style="height: 5rem;">
    <div class="container">
        <a class="navbar-brand me-4 fs-4" href="{% url 'index' %}">
            Shar House 55
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Shar House 55</h5>
                <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link me-3" href="{% url 'products' %}">Каталог</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-3" href="{% url 'care' %}">Рекомендации</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-3" href="{% url 'about' %}">О нас</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link me-3" href="{% url 'about' %}#how_to_order">Заказать</a>
                    </li>
                </ul>
                <div class="navbar-contacts d-flex justify-content-center">
                    <a href="tel:+79659838316" class="block d-flex align-items-center">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/call-icon.png' %}" alt="Call">
                    </a>
                    <a href="https://www.instagram.com/shar_house55/" class="block d-flex align-items-center"
                       target="_blank">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/instagram-icon.png' %}" alt="Instagram">
                    </a>
                    <a href="https://wa.me/79659838316" class="block d-flex align-items-center">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/whatsapp-icon.png' %}" alt="WhatsApp">
                    </a>
                    <a href="https://t.me/sharhouse55" class="block d-flex align-items-center">
                        <img class="icon-image d-inline "
                             src="{% static 'mainapp/images/icons/telegram-icon.png' %}" alt="Telegram">
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>