<section class="section-main d-flex align-items-center justify-content-center" itemscope itemtype="http://schema.org/Organization">
    <div class="d-none d-lg-block text-label-lg">
        <h1 class="display-5 mb-4" itemprop="legalName">{{ main_title }}</h1>
        <h1 class="display-6">{{ main_text }}</h1>
    </div>
    <div class="d-lg-none d-block text-label-sm">
        <h1 class="display-5 mb-4" itemprop="legalName">{{ main_title }}</h1>
        <h1 class="display-6">{{ main_text }}</h1>
    </div>
</section>