{% extends 'mainapp/main.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}SharHouse55. О нас.{% endblock %}
{% block description %}
    Магазин SharHouse55. Информация о компании. Гелиевые шары в Омске дешево с доставкой. Большой ассортимент товаров: гендер шары, коробки с шарами, фольгированные шары, шары на день рождения, а также различные композиции на ваш вкус. Только качественные шары и материалы.
{% endblock %}

{% block content %}
    {% with main_title='SharHouse55' main_text='Гелиевые шары с бесплатной доставкой в Омске'%}
        {% include 'mainapp/models/section_main.html' %}
    {% endwith %}

    <section class="about">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">О нас</li>
                </ol>
            </nav>

            <h2 class="display-5 mb-4 text-center">
                О нас
                <img src="{% static 'mainapp/images/icons/about-icon.png' %}"
                     class="img-title"
                     alt="О нас"
                     title="О нас">
            </h2>

            <p>
                Мы начали заниматься созданием композиций из воздушных шаров относительно недавно, в октябре 2021 года.
                Но уже спустя считанные месяцы мы поработали с множеством различных клиентов, которые в последствии остались двольны.
            </p>
            <p>
                У нас вы можете заказать самые разные композиции из шаров различного материала, формы и размера.
                Мы соберем подарок по вашей идее или придумаем неповторимую композицию, которая сможет порадовать каждого.
            </p>
            <p>
                Мы доставим шары в любую точку города Омск, соблюдая все правила для траспортировки шаров.
                В SharHouse55 используются только качественные материалы, соблюдаются все правила по обработке шаров для их долгого полета.
            </p>
            <p>
                Также мы занимаемся оформлением больших мероприятий и можем составить предварительный проект
                вашей композиции для наглядности.
            </p>

            <h2 class="display-5 my-4 text-center" id="how_to_order">
                Заказать
                <img src="{% static 'mainapp/images/icons/delivery-icon.png' %}"
                     class="img-title"
                     alt="Заказать"
                     title="Заказать">
            </h2>

            <p class="my-1">
                Для заказа наших услуг вам потребуется только:
            </p>
            <hr>
            <div class="my-1" style="min-height: 100px;">
                <img src="{% static 'mainapp/images/icons/about-call.png' %}"
                     class="float-start mx-3"
                     alt="Связаться"
                     title="Связаться">
                <p>
                    Связаться с нами одним из способов, указанных ниже. Выбрать композицию, дату и место доставки.
                </p>
            </div>
            <hr>
            <div class="my-1" style="min-height: 100px;">
                <img src="{% static 'mainapp/images/icons/about-money.png' %}"
                     class="float-end mx-3"
                     alt="Оплата"
                     title="Оплата">
                <p>
                    Внести небольшую предоплату в соотвествии с вашим заказом.
                </p>
            </div>
            <hr>
            <div class="my-1" style="min-height: 100px;">
                <img src="{% static 'mainapp/images/icons/delivery-icon.png' %}"
                     class="float-start mx-3"
                     alt="Доставка"
                     title="Доставка">
                <p>
                    Дождаться доставки по указанной дате, получить товар и оплатить оставшуюся сумму по заказу.
                </p>
            </div>
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}