{% extends 'mainapp/main.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}SharHouse55. О нас.{% endblock %}
{% block description %}
    Магазин SharHouse55. Информация о компании. Гелиевые шары в Омске дешево с доставкой. Большой ассортимент товаров: гендер шары, коробки с шарами, фольгированные шары, шары на день рождения, а также различные композиции на ваш вкус. Только качественные шары и материалы.
{% endblock %}

{% block content %}
    {% with main_title='SharHouse55' main_text='Гелиевые шары с бесплатной доставкой в Омске'%}
        {% include 'mainapp/models/section_main.html' %}
    {% endwith %}

    <section class="about">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">О нас</li>
                </ol>
            </nav>

            <h2 class="display-5 mb-4 text-center">О нас</h2>
            <p>
                Мы начали заниматься созданием композиций из воздушных шаров относительно недавно, в октябре 2021 года.
                Но уже спустя считанные месяцы мы поработали с множеством различных клиентов, которые в последствии остались двольны.
            </p>
            <p>
                У нас вы можете заказать самые разные композиции из шаров различного материала, формы и размера.
                Мы соберем подарок по вашей идее или придумаем неповторимую композицию, которая сможет порадовать каждого.
            </p>
            <p>
                Мы доставим шары в любую точку города Омск, соблюдая все правила для траспортировки шаров.
                В SharHouse55 используются только качественные материалы, соблюдаются все правила по обработке шаров для долгого полета.
            </p>
            <p>
                Также мы занимаемся оформлением больших мероприятий и можем составить предварительный проект
                вашей композиции для наглядности.
            </p>

            <h2 class="display-5 my-4 text-center" id="how_to_order">Как заказать</h2>
            <p>
                При заказе необходима предоплата 50%. Для покупки вам необходимо написать или позвонить нам и указать
                понравившуюся композицию, дату, время и свои пожелания. На изготовление композиции, как правило,
                требуется несколько часов за исключением редких случаев (например, наклейки на шары мы заказываем у
                организации). После внесения предоплаты мы собираем композицию и привозим к вам в указанное время.
            </p>
            <p>
                В связи с последними событиями цены на шары очень нестабильны. Поэтому нами было принято решение не
                выкладывать цены на сайте, чтобы не вводить вас в заблуждение.
            </p>
            <p>
                Для того, чтобы узнать актуальную цену на любой товар в нашем ассортименте вы можете связаться с нами
                любым из способов ниже.
            </p>
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}