{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}SharHouse55. Рекомендации по уходу за шарами.{% endblock %}
{% block description %}
    Магазин SharHouse55, рекомендации по уходу за шарами. Как
{% endblock %}

{% block content %}
    {% with main_title='Shar House 55' main_text='Рекомендации по уходу за гелиевыми шарами'%}
        {% include 'mainapp/models/section_main.html' %}
    {% endwith %}

    <section class="care">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Рекомендации</li>
                </ol>
            </nav>

            <h1 class="text-center mb-4">Рекомендации</h1>

            <p>
                Для того, чтобы гелиевые шары могли радовать достаточно долго рекомедуем вам соблюдать следюущие правила:
            </p>
            {% for care in cares %}
                <h2>{{ care.name }}</h2>
                <p>{{ care.text }}</p>
            {% endfor %}
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}