{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}Shar House 55{% endblock %}

{% block content %}
    <section class="section-main d-flex align-items-center justify-content-center">
        {% with main_title='Shar House' main_text='Рекомендации по уходу за воздушными шарами'%}
        <div class="d-none d-xl-block text-label-lg">
            <h1 class="display-4 mb-4">{{ main_title }}</h1>
            <h1 class="display-6">{{ main_text }}</h1>
        </div>
        <div class="d-none d-xl-none d-lg-block d-md-block text-label-sm">
            <h1 class="display-5 mb-4">{{ main_title }}</h1>
            <h1 class="display-6">{{ main_text }}</h1>
        </div>
        <div class="d-md-none d-sm-block text-label">
            <h1 class="display-5 mb-4">{{ main_title }}</h1>
            <h1 class="display-6">{{ main_text }}</h1>
        </div>
        {% endwith %}
    </section>

    <section class="care">
        <div class="container">
            <h1>Рекомендации</h1>
            <p>
                Для того, чтобы гелиевые шары могли радовать достаточно долго рекомедуем вам соблюдать следюущие правила:
            </p>
            <hr>
            {% for care in cares %}
                <h2>{{ care.name }}</h2>
                <p>{{ care.text }}</p>
            {% endfor %}
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}