{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}Shar House 55{% endblock %}

{% block content %}
    {% with main_title='Shar House 55' main_text='Рекомендации по уходу за воздушными шарами'%}
        {% include 'mainapp/models/section_main.html' %}
    {% endwith %}

    <section class="care">
        <div class="container">
            <h1>Рекомендации</h1>
            <p>
                Для того, чтобы гелиевые шары могли радовать достаточно долго рекомедуем вам соблюдать следюущие правила:
            </p>
            <hr>
            {% for care in cares %}
                <h2>{{ care.name }}</h2>
                <p>{{ care.text }}</p>
            {% endfor %}
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}