{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}Shar House 55{% endblock %}

{% block content %}
    <section class="section-main d-flex align-items-center justify-content-center">
        {% with main_title='Shar House 55' main_text='Здесь заголовок какой-то'%}
        <div class="d-none d-lg-block d-md-block d-xl-block text-label-lg">
            <h1 class="display-4 mb-4">{{ main_title }}</h1>
            <h1 class="display-6">{{ main_text }}</h1>
        </div>
        <div class="d-md-none d-sm-block text-label">
            <h1 class="display-5 mb-4">{{ main_title }}</h1>
            <h1 class="display-6">{{ main_text }}</h1>
        </div>

        <!--<div class="d-none d-xl-block text-label-lg">
            <h1 class="display-4 mb-4">{{ main_title }}</h1>
            <h1 class="display-6">{{ main_text }}</h1>
        </div>
        <div class="d-none d-xl-none d-lg-block d-md-block text-label-sm">
            <h1 class="display-5 mb-4">{{ main_title }}</h1>
            <h1 class="display-6">{{ main_text }}</h1>
        </div>-->
        {% endwith %}
    </section>

    <section class="edge d-flex justify-content-end p-md-5 p-0">
        <div class="block px-md-5 px-2 py-5">
            <h1 class="display-4 mb-4">Почему мы?</h1>
            {% for edge in edges %}
                <div class="col-12 d-flex align-items-center mb-3">
                    <img class="icon-image" src="{% static 'mainapp/images/icons/ok-icon.png' %}" alt="Yes">
                    <div class="d-inline fs-4">{{ edge }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h1 class="d-flex justify-content-center display-4 m-0 py-4">Наши работы</h1>
            <div class="p-0 row">
                {% for product in products %}
                    <div class="col-12 col-lg-6 col-xl-4 p-4">
                        <div class="card">
                            <img src="{{ product.img.url }}"
                                 class="card-img-top" alt="Fountain with tree">
                            <div class="card-body">
                                <div class="card-title fs-3">
                                    {{ product.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-outline-primary fs-3" href="{% url 'products' %}">Показать еще</a>
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}