{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}Shar House 55{% endblock %}

{% block content %}
    <section class="section-main d-flex align-items-center justify-content-center">
        <div class="d-none d-xl-block text-label-lg">
            <h1 class="display-4 mb-4">ГЕЛИЕВЫЕ ШАРЫ В ОМСКЕ</h1>
            <h1 class="display-6">
                Бесплатная доставка при заказе от 1000 рублей
            </h1>
        </div>
        <div class="d-none d-xl-none d-lg-block d-md-block text-label-sm">
            <h1 class="display-5 mb-4">ГЕЛИЕВЫЕ ШАРЫ В ОМСКЕ</h1>
            <h1 class="display-6">
                Бесплатная доставка при заказе от 1000 рублей
            </h1>
        </div>
        <div class="d-md-none d-sm-block text-label">
            <h1 class="display-5 mb-4">ГЕЛИЕВЫЕ ШАРЫ В ОМСКЕ</h1>
            <h1 class="display-6">
                Бесплатная доставка<br>
                при заказе от 1000 рублей
            </h1>
        </div>
    </section>

    <section class="edge d-flex justify-content-end p-md-5 p-0">
        <div class="block px-md-5 px-2 py-5">
            <h1 class="display-4 mb-4">Почему мы?</h1>
            <div class="container-fluid">
                <div class="row">
                    {% for i in '1234' %}
                        <div class="col-12 col-lg-6 d-flex align-items-center mb-3">
                            <img class="icon-image" src="{% static 'mainapp/images/icons/ok-icon.png' %}" alt="Yes">
                            <div class="d-inline fs-4">Поэтому</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h1 class="d-flex justify-content-center display-4 m-0 py-4">Наши работы</h1>
            <div class="p-0 row">
                {% for product in products %}
                    <div class="col-12 col-lg-6 col-xl-4 p-4">
                        <div class="card">
                            <img src="{{ product.img.url }}"
                                 class="card-img-top" alt="Fountain with tree">
                            <div class="card-body">
                                <div class="card-title fs-3">
                                    {{ product.name }}
                                </div>
                                <div class="card-text fs-5">
                                    {{ product.text }}
                                </div>
                                <a class="btn btn-outline-primary mt-3 fs-3" href="#">{{ product.price }} руб.</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="btn btn-outline-primary fs-3" href="{% url 'products' %}">Показать еще</a>
        </div>
    </section>

    <section class="contacts w-100 d-flex justify-content-center" id="contacts">
        <div class="mx-4">
            <h1 class="display-4 mb-4">Свяжись с нами:</h1>
            <div class="row">
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="tel:+79659838316"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline "
                             src="{% static 'mainapp/images/icons/call-icon.png' %}" alt="Call">
                        <div class="d-inline fs-4">8-965-983-83-16</div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://www.instagram.com/shar_house55/"
                       class="block d-flex align-items-center"
                       target="_blank">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/instagram-icon.png' %}" alt="Instagram">
                        <div class="d-inline fs-4">Instagram</div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://wa.me/79659838316"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/whatsapp-icon.png' %}" alt="WhatsApp">
                        <div class="d-inline fs-4">WhatsApp</div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://t.me/sharhouse55"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline "
                             src="{% static 'mainapp/images/icons/telegram-icon.png' %}" alt="Telegram">
                        <div class="d-inline fs-4">Telegram</div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}