{% extends 'mainapp/home.html' %}
{% load static %}

{% block title %}Shar House 55{% endblock %}

{% block content %}
    <section class="section-main d-flex align-items-center justify-content-center">
        <div class="d-none d-xl-block text-label-lg">
            <h1 class="display-4 mb-4">ГЕЛИЕВЫЕ ШАРЫ В ОМСКЕ</h1>
            <h1 class="display-6">
                Бесплатная доставка при заказе от 1000 рублей
            </h1>
        </div>
        <div class="d-none d-xl-none d-lg-block d-md-block text-label-sm">
            <h1 class="display-5 mb-4">ГЕЛИЕВЫЕ ШАРЫ В ОМСКЕ</h1>
            <h1 class="display-6">
                Бесплатная доставка при заказе от 1000 рублей
            </h1>
        </div>
        <div class="d-md-none d-sm-block text-label">
            <h1 class="display-5 mb-4">ГЕЛИЕВЫЕ ШАРЫ В ОМСКЕ</h1>
            <h1 class="display-6">
                Бесплатная доставка<br>
                при заказе от 1000 рублей
            </h1>
        </div>
    </section>
    <section class="contacts w-100 d-flex justify-content-center p-5" id="contacts">
        <div>
            <h1 class="display-4 mb-4">Связаться с нами:</h1>
            <div class="p-0 row">
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="tel:+79659838316"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline "
                             src="{% static 'mainapp/images/icons/call-icon.png' %}" alt="Call">
                        <div class="d-inline fs-4">8-965-983-83-16</div>
                        <div class="background"></div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://www.instagram.com/shar_house55/"
                       class="block d-flex align-items-center"
                       target="_blank">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/instagram-icon.png' %}" alt="Instagram">
                        <div class="d-inline fs-4">Instagram</div>
                        <div class="background"></div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://wa.me/79659838316"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/whatsapp-icon.png' %}" alt="WhatsApp">
                        <div class="d-inline fs-4">WhatsApp</div>
                        <div class="background"></div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://t.me/sharhouse55"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline "
                             src="{% static 'mainapp/images/icons/telegram-icon.png' %}" alt="Telegram">
                        <div class="d-inline fs-4">Telegram</div>
                        <div class="background"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}