{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}Shar House 55{% endblock %}

{% block content %}
    {% with main_title='Shar House 55' main_text='Индивидуальный подход к каждому клиенту'%}
        {% include 'mainapp/models/section_main.html' %}
    {% endwith %}

    <section class="edge d-flex justify-content-end p-xl-5 p-0">
        <div class="block px-md-5 px-3 py-5">
            <h1 class="display-4 mb-4">Почему мы?</h1>
            {% for edge in edges %}
                <div class="col-12 d-flex align-items-center mb-3">
                    <img class="icon-image" src="{% static 'mainapp/images/icons/ok-icon.png' %}" alt="Yes">
                    <div class="d-inline fs-4">{{ edge }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h1 class="d-flex justify-content-center display-4">Работы</h1>
            <div class="row">
                {% for category in categories %}
                    <div class="col-12 col-lg-6 col-xl-4 p-4">
                        <div class="card">
                            <img src="{{ category.img.url }}"
                                 class="card-img-top" alt="Fountain with tree">
                            <div class="card-body">
                                <a class="btn btn-outline-primary fs-4" href="{% url 'category_products' category.id %}">
                                    {{ category.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}