{% extends 'mainapp/main.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}SharHouse55. Гелиевые шары с бесплатной доставкой в Омске!{% endblock %}
{% block description %}
    Магазин SharHouse55. Гелиевые шары в Омске дешево с доставкой. Большой ассортимент товаров: гендер шары, коробки с шарами, фольгированные шары, шары на день рождения, а также различные композиции на ваш вкус. Только качественные шары и материалы.
{% endblock %}

{% block content %}
    {% with main_title='SharHouse55' main_text='Гелиевые шары с бесплатной доставкой в Омске'%}
        {% include 'mainapp/models/section_main.html' %}
    {% endwith %}

    <section class="about">
        <div class="container">
            <h2 class="display-5 mb-4 text-center">О нас</h2>
            <p>
                Если у вас возник вопрос, где в Омске купить шары, то вы попали по адресу!
            </p>
            <p>
                В SharHouse55 вы можете купить гелевые шары недорого и оформить доставку шаров на дом бесплатно.
            </p>
            <p>
                У нас в ассортименте вы найдете БаблоБокс, коробку с шарами, фольгированные шары, шар на гендер пати,
                букет из шаров и многое другое.
            </p>
            <div class="container-fluid d-flex justify-content-center">
                <a class="btn btn-outline-primary fs-4 mt-2" href="{% url 'about' %}">
                    Читать больше
                </a>
            </div>
        </div>
    </section>

    <section class="edge d-flex justify-content-end p-xl-5 p-0">
        <div class="block px-md-5 px-3 py-5">
            <h2 class="display-4 mb-4 text-center">Почему мы?</h2>
            <hr class="w-75 mx-auto mb-4">
            {% for edge in edges %}
                <div class="edges col-12 d-flex align-items-center mb-3">
                    <img class="icon-image" src="{% static 'mainapp/images/icons/ok-icon.png' %}" alt="Yes">
                    <div class="d-inline">{{ edge }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h2 class="d-flex justify-content-center display-4">Каталог</h2>
            <div class="row">
                {% for category in categories %}
                    <div class="col-12 col-lg-6 col-xl-4 p-4">
                        <div class="card">
                            {% thumbnail category.img "400x400" as im %}
                            <img src="{{ im.url }}"
                                 class="card-img-top" alt="{{ category.name }}">
                            {% endthumbnail %}
                            <div class="card-body">
                                <a class="btn btn-outline-primary fs-4" href="{% url 'category_products' category.slug %}">
                                    {{ category.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}