{% extends 'mainapp/main.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}SharHouse55. Гелиевые шары с бесплатной доставкой в Омске!{% endblock %}
{% block description %}
    Гелиевые шары, фигуры и композиции по привлекательной цене с бесплатной круглосуточной доставкой в Омске.
    Только качественные шары и материалы.
{% endblock %}

{% block content %}
    {% with main_title='SharHouse55' main_text='Гелиевые шары с бесплатной доставкой в Омске'%}
        {% include 'mainapp/models/section_main.html' %}
    {% endwith %}

    <section class="edge d-flex justify-content-end p-xl-5 p-0">
        <div class="block px-md-5 px-3 py-5">
            <h1 class="display-4 mb-4 text-center">Почему мы?</h1>
            <hr class="w-75 mx-auto mb-4">
            {% for edge in edges %}
                <div class="edges col-12 d-flex align-items-center mb-3">
                    <img class="icon-image" src="{% static 'mainapp/images/icons/ok-icon.png' %}" alt="Yes">
                    <div class="d-inline fs-4">{{ edge }}</div>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="products">
        <div class="container">
            <h1 class="d-flex justify-content-center display-4">Работы</h1>
            <div class="row">
                {% for category in categories %}
                    <div class="col-12 col-lg-6 col-xl-4 p-4">
                        <div class="card">
                            {% thumbnail category.img "400x400" as im %}
                            <img src="{{ im.url }}"
                                 class="card-img-top" alt="{{ category.name }}">
                            {% endthumbnail %}
                            <div class="card-body">
                                <a class="btn btn-outline-primary fs-4" href="{% url 'category_products' category.id %}">
                                    {{ category.name }}
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}