{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}Наши работы{% endblock %}

{% block content %}
    <section class="products">
        <div class="container">
            <h1 class="display-4 d-flex justify-content-center m-0 py-4 w-100">Наши работы</h1>
            <div class="p-0 row">
                {% for product in products %}
                    <div class="col-12 col-lg-6 col-xl-4 p-4">
                        <div class="card">
                            <img src="{{ product.img.url }}"
                                 class="card-img-top" alt="Fountain with tree">
                            <div class="card-body">
                                <div class="card-title fs-3">
                                    {{ product.name }}
                                </div>
                                <div class="card-text fs-5">
                                    {{ product.text }}
                                </div>
                                <a class="btn btn-primary mt-3" href="#">{{ product.price }} руб.</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="contacts" class="contacts w-100 d-flex justify-content-center">
        <div class="mx-4">
            <h1 class="display-4 mb-4">Свяжись с нами:</h1>
            <div class="p-0 row">
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="tel:+79659838316"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline "
                             src="{% static 'mainapp/images/icons/call-icon.png' %}" alt="Call">
                        <div class="d-inline fs-4">8-965-983-83-16</div>
                        <div class="background"></div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://www.instagram.com/shar_house55/"
                       class="block d-flex align-items-center"
                       target="_blank">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/instagram-icon.png' %}" alt="Instagram">
                        <div class="d-inline fs-4">Instagram</div>
                        <div class="background"></div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://wa.me/79659838316"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline"
                             src="{% static 'mainapp/images/icons/whatsapp-icon.png' %}" alt="WhatsApp">
                        <div class="d-inline fs-4">WhatsApp</div>
                        <div class="background"></div>
                    </a>
                </div>
                <div class="col-12 col-sm-6 d-flex align-items-center">
                    <a href="https://t.me/sharhouse55"
                       class="block d-flex align-items-center">
                        <img class="icon-image d-inline "
                             src="{% static 'mainapp/images/icons/telegram-icon.png' %}" alt="Telegram">
                        <div class="d-inline fs-4">Telegram</div>
                        <div class="background"></div>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}