{% extends 'mainapp/main.html' %}
{% load static %}
{% load thumbnail %}

{% block title %}SharHouse55. {% if current_category %}{{ current_category.name }}{% else %}Каталог{% endif %}. Страница {{ page_obj.number }}{% endblock %}
{% block description %}
    Магазин SharHouse55, {% if current_category %}{{ current_category.name }}{% else %}каталог{% endif %}. Cтраница {{ page_obj.number }}. Гелиевые шары в Омске дешево с доставкой.
{% endblock %}

{% block metatags %}
    {% if page_obj.has_previous %}
        <link rel="prev" href="?page={{ page_obj.previous_page_number }}">
    {% endif %}
    {% if page_obj.has_next %}
        <link rel="next" href="?page={{ page_obj.next_page_number }}">
    {% endif %}
{% endblock %}

{% block content %}
    <section class="products pb-1">
        <div class="container">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'index' %}">Главная</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Каталог</li>
                </ol>
            </nav>
            <div class="row">
                <div class="col-12 col-md-4"></div>
                <div class="col-12 col-md-4 d-flex justify-content-center align-items-center mb-3 text-center">
                    <h1 class="display-6" style="margin-bottom: 0">
                        {% if current_category %}
                        {{ current_category.name }}
                        {% else %}
                        Каталог
                        {% endif %}
                    </h1>
                </div>
                <div class="col-12 col-md-4 d-flex justify-content-center align-items-center mb-3">
                    <div class="dropdown" style="width: 12rem">
                        <button class="btn btn-primary dropdown-toggle fs-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Категория
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="{% url 'products' %}?page=1">Весь каталог</a></li>
                            {% for category in categories %}
                            <li><a class="dropdown-item" href="{% url 'category_products' category.slug %}?page=1">{{ category.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="mx-auto" style="width: 90%">

            {% if current_category.description %}
                <div class="category-description">
                    {{ current_category.description }}
                </div>
            {% endif %}

            <div class="p-0 row">
                {% if products %}
                {% for product in products %}
                    <div class="col-12 col-md-6 col-xl-4 p-4">
                        <div class="card">
                            {% thumbnail product.img "400x400" as im %}
                            <img src="{{ im.url }}"
                                 class="card-img-top" alt="{{ product.name }}">
                            {% endthumbnail %}
                            <div class="card-body prod d-flex align-items-center justify-content-center">
                                <div class="card-title fs-3 fw-light">
                                    {{ product.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="d-flex justify-content-center pt-4 mb-4">
                        В данной категории ничего нет
                    </div>
                {% endif %}
            </div>

            {% include "mainapp/models/pagination.html" %}
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}