{% extends 'mainapp/main.html' %}
{% load static %}

{% block title %}Наши работы{% endblock %}

{% block content %}
    <section class="products">
        <div class="container-fluid">
            <div class="">
                <h1 class="ms-5 display-4">На главную! | Наши работы</h1>
            <div>
            <div class="p-0 row">
                {% for product in products %}
                    <div class="col-12 col-md-6 col-xl-4 col-xxl-3 p-4">
                        <div class="card">
                            <img src="{{ product.img.url }}"
                                 class="card-img-top" alt="Fountain with tree">
                            <div class="card-body">
                                <div class="card-title fs-3">
                                    {{ product.name }}
                                </div>
                                <div class="card-text fs-5">
                                    {{ product.text }}
                                </div>
                                <a class="btn btn-outline-primary mt-3" href="#">{{ product.price }} руб.</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    {% include "mainapp/models/contacts.html" %}
{% endblock %}